<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is a weather reporting web-site. It gives the current temperature of the location and other weather information to the user.</p>
        <p>It uses data from mapbox.com API which gives the latitude and longitude of a location. This location is then given to the weatherstack.com API which gives us the weather of that location.</p>
        <p>Technologies used: JavaScript, Node-JS, HTML, CSS, Heroku cloud platform, weather api, location api, git and github.</p>
        <img class="portrait" src="/img/me.jpg">
    </div>
    
    {{>footer}}
</body>

</html>