<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>For any queries about how this application was made you can contact the owner.</p>
        <p>Email: nitin.asthana22@gmail.com</p>
        <p>LinkedIn: https://www.linkedin.com/in/nitin22asthana</p>
        <p>Git-Hub: https://github.com/nitin-22/Weather-Website</p>
    </div>
    
    {{>footer}}
</body>

</html>